@font-face {
  src: url(Eleven.ttf);
  font-family: 'Eleven';
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Eleven';
  margin: 0;
}

#gameArea,
#gameControlArea {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 50%;
  height: 50vh;
}

#button-wrapper {
    min-height: 2rem;
}

#new-game { 
    display: block;
    opacity: 1;
    transition: 0.3s ease;
}

#gameStatus {
    text-align: center;
}

@-webkit-keyframes fade {
  0% {opacity:1;}
  100% {opacity:0;}
}
@keyframes fade {
  0% {opacity:1;}
  100% {opacity:0;}
}

.fadeOut {
  -moz-animation   : fade .5s ease;
  -webkit-animation: fade .5s ease;
  animation        : fade .5s ease;
  animation-fill-mode: forwards;
}

.fadeIn {
    -moz-animation: fade .5s ease;
    -webkit-animation: fade .5s ease;
    animation: fade .5s ease;
    animation-fill-mode: backwards;
}

.standard {
  color: #ffffff;
}

.fail {
  color: #CB0000;
}

.success {
  color: #9EE22E
}