<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stitch In Time</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div id="gameArea">
        <div id="gameStatus"></div>
    </div>
    <script type="text/javascript" src="../static/shims.js"></script>
    <script type="text/javascript" src="../static/domMods.js"></script>
    <script type="text/javascript" src="../static/countdown.js"></script>
    <script type="text/javascript" src="../static/audioFix.js"></script>
    <script type="text/javascript" src="../static/rotator.js"></script>
    <script type="text/javascript" src="../static/gameAudio.js"></script>
    <script type="text/javascript" src="../static/stitchInTime.js"></script>
  </body>
</html>
