<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stitch In Time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <img class="game-logo" src="{{ url_for('static', filename='pocketracer.webp') }}" alt="">
    <p class="game-version"> v. 1.0</p>
    <div id="gameArea">
        <div id="gameStatus"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='shims.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='domMods.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='countdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='audioFix.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='rotator.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='gameAudio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='stitchInTime.js') }}?2"></script>
  </body>
</html>
